






@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------Navbar--------------------------------------------- */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mt-6 {
  margin-top: 10rem;
}

.theme {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid;
  border-color: transparent;
}

.theme:hover {
  border-color: #afb1b4;
}

.navbar-toggler {
  filter: brightness(100);
  border-color: #fff;
}

.themeShape {
  height: 30px;
  width: 40px;
  border-radius: 10px;
}

.defaultColor {
  background: linear-gradient(#04054a, #fff);
}

.themeColor1 {
  background: linear-gradient(#590fd0, #fff);
}

.themeColor2 {
  background: linear-gradient(#ff0000, #fff);
}

.themeColor3 {
  background: linear-gradient(#02254b, #fff);
}

.themeColor4 {
  background: linear-gradient(#164a41, #fff);
}

/* ----------------------------------------Alert--------------------------------------------- */

.alert {
  position: fixed;
  top: 57px;
  width: 100%;
  transition: top 0.35s ease;
  border-radius: 0px;
}

/* ----------------------------------------About--------------------------------------------- */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  height: 500px;
  width: 800px;
  border-bottom: 2px solid #a8a8a8;
}

.contact .logo {
  width: 300px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid 670682;
  width: 300px;
}

.icons img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* ----------------------------------------Footer--------------------------------------------- */

.about{
  margin-top: 100px;
  line-height: 40px;
}

/* ----------------------------------------Footer--------------------------------------------- */

.carousel-container{
  margin-top: 56px;
}
.carousel-item{
  height: 93vh;
  width: 100vw;
}
.carousel-item img{
  height: 100%;
  width: 100%;
  /* filter: blur(8px); */
}


/* ----------------------------------------Footer--------------------------------------------- */


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
  padding: 5px;
  background-color: #1b1e21;
  margin-top: 100px;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.footer-logo {
  height: 40px;
}

.footer-icons img {
  height: 30px;
  cursor: pointer;
}

/* ----------------------------------------media Queries--------------------------------------------- */


@media screen and (max-width:700px) {
  .contact {
    width: fit-content;
    padding: 10px;
  }

  .footer {
    justify-content: center;
  }
}

@media screen and (max-width:450px) {
  .contact {
    padding: 10px;
    height: max-content;
  }

  .contact .logo {
    width: 200px;
    margin: 20px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 220px;
  }

  .icons img {
    width: 30px;
  }

  .alert {
    font-size: 15px;
  }

  .footer .copyright {
    font-size: 15px;
  }
}